body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  display: inline-block;
}

.container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container .column {
  display: flex;
  flex-direction: column;
  margin: 0.3em;
}

#controls {
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
}

#controls p {
  margin-left: 0.5em;
  width: 5em;
}

#app video {
  width: 128px;
  height: 128px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.debug .out-of-sync {
  border: 3px solid red;
}
.debug .in-sync {
  border: 3px solid green;
}
.debug .master {
  border: 3px solid yellow;
}
.debug .out-of-sync.ahead {
  border: 3px solid blue;
}
.debug .out-of-sync.behind {
  border: 3px solid rgb(238, 21, 238);
}
/* .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container .column {
  flex-direction: row;
  flex-wrap: nowrap;
} */
